@page "/"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigator

<SurveyPrompt Title="App de estudios"></SurveyPrompt>

<div id="seleccion" class="seleccion animated fadeIn fast" align="center">
    <div>
        <a href="alumnos">
            <img src="images/Man-256.png" alt="alumnos" class="seleccion-opcion">
        </a>
    </div>

    <div>
        <a href="asignaturas">
            <img src="images/Book Library-256.png" alt="asignaturas" class="seleccion-opcion">
        </a>
    </div>

    <div>
        <a href="examenes">
        <img src="images/Education-256.png" alt="exámenes" class="seleccion-opcion">

        </a>
    </div>
</div>

@code{
    //[CascadingParameter] protected AppState appState { get; set; }

    //string nombre = "Noemí";
    string texto = "Hola Noe";
    public List<Alumno> alumnos;
    
    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<List<Alumno>>("api/alumnos");
        alumnos = httpResponse.Response;

    }
    void AgregarAlumno()
    {
        //alumnos.Add(new Alumno() { Id = 4, Nombre = "Noe", Examenes = { } });
        alumnos.Add(new Alumno() { Id = 4, Nombre = "Noe"});
    }
}
