<div>
    <p>Id: @alumno.Id</p>
    <p>Nombre: @alumno.Nombre</p>
    @if (MostrarBotones)
    {
        <div>
            <button @onclick="@(() => EliminarAlumno.InvokeAsync(alumno))">Borrar</button>
        </div>

    }
</div>

@code {
    [Parameter] public Alumno alumno { get; set; }
    [Parameter] public bool MostrarBotones { get; set; } 
    [Parameter] public EventCallback<Alumno> EliminarAlumno { get; set; } 
    
}
